h1 {
  font-size: 30px;
  color: rgb(119, 114, 114);
  font-family: "Montserrat", sans-serif;
  display: block;
  font-weight: 100;
  line-height: 28.8px;
  text-align: left;
  margin-bottom: 0;
}

.weatherapp {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 20px;
}

li {
  list-style: none;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  color: black;
}

ul {
  margin: 0;
  padding: 0;
}

.overview {
  margin: 20px;
}

img {
  position: relative;
  left: 2px;
}

.temp {
  position: relative;
  left: 80px;
  top: -70px;
  font-size: 50px;
}

.units {
  position: relative;
  left: 115px;
  top: -130px;
  font-size: 16px;
}

.col-6 {
  position: relative;
  right: -100px;
}
